.container {
    position: fixed;
}

.item {
    position: relative;
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.bgcontainer {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 50%;

}
.bg {
    object-fit: contain;
    opacity: 0.2;
}
.texts {
    display: flex;
    flex-direction: column;
    gap: 24px;
    border: #182237;
}
.notification{
    font-weight: bold;
}
.title{
    font-weight: 500;
    font-style: 12px;
    align-items: center;
}
.button{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 10px;
    background-color:  #5d57c9;
    color: white;
    border-radius: 5px;
    border: none;
    width: max-content;
}
